<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>	
   <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>	
		<RollingFile name="file" filename="./Logs/logs.log"
			filepattern="./Peoplhub_Projectlogs-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<SizeBasedTriggeringPolicy size="5000000" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="Maven.DesignPatternTest" level="trace"
			additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="Maven.InternetExplorerWebDriver" level="trace"
			additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="Maven.ChromeWebDriver" level="trace"
			additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>